/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Arial&family=Roboto:wght@300;400;500&family=PT+Serif:wght@400;700&display=swap');

body {
    font-family: 'Outfit', 'Arial', 'Roboto', 'PT Serif', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
